/catalog/includes/configure.php
/catalog/admin/includes/configure.php
/catalog/includes/work/*
/catalog/admin/images/graphs/*.png
/nbproject/private/
/vendor/
/composer.lock
/phinx.yml
!/tests/phinx.yml
/gpe.signing_test.cer
/gpe.signing_test.pem
/gpwebpay-pvk.key
/catalog/images/