#for MAIN GIT REPO or ADMIN SERVER INSTANCE
#images NOT ignored
!images
#images/*
!images/thumbs
#images/thumbs/*
!images/thumbs/.htaccess

includes/configure.php
admin/includes/configure.php
includes/work/*
admin/images/graphs/*.png
/OM/Work/*
!OM/Work/CoreUpdate/update.phar.pubkey
OM/Config/local_settings.ini
OM/Custom/*
!OM/Custom/README
mailhive/common/templates_c/
admin/.htaccess
mailhive/cloudbeez/cloudloader/install.log
/nbproject/private/
/vendor/
/composer.lock
phinx.yml
Makefile
!/tests/phinx.yml
i18n/*/LC_MESSAGES/pureosc.mo
admin_private_keys/
