/* user.css ----------------------------------------------------------------- */
/*@import url("headertags_seo_styles.css");*/

/**** BEGIN ARTICLE MANAGER ****/
.separatorArticle {
height: 1px;
color: #FF0000;
}
.separatorBlogArticle {
height: 1px;
color: #FF0000;
}
.separatorNewArticle {
height: 1px;
color: #FF0000;
}
.separatorTopic {
height: 1px;
color: #FF0000;
}
.articleLinkHdr {font-size:12px; font-weight:600}
.articleLinkMarker {font-size:10px; padding-left:2px}
.articleBlogEntry {padding-left:4px; background-color:lightyellow}
.articleSearch {font-size:12px; font-weight:600; padding-top:6px; color:red}
.articleBox {border:2px inset #ccc}
.articlePadding {padding:10px 0}
.articlePaddingSubmit {padding-bottom:10px}
/**** END ARTICLE MANAGER ****/

/* Banner rotator content module */
#rotator {
    visibility: hidden;
}
.visible { 
    visibility: visible !important; 
}
/* typeahead searchbox */
ul.typeahead>li>a {
    white-space: normal;
}

ul.typeahead.dropdown-menu {
    width: 350px;
}

/*MainPage Articles*/
.mainpage-blog{font-weight:bold;font-size:130%}




/* @media Default values */
.searchbox-margin{max-width:280px}
.piGalDiv{float:right; width:45%;margin-left:15px}
.fixedHeightBox{min-height:390px;}

@media only screen and (max-width:759px){
	.searchbox-margin{max-width:100%}
}
@media only screen and (max-width:639px){
	.piGalDiv{float:none; margin:auto;clear:left;width:90%;margin-bottom:20px}
	.fixedHeightBox{min-height:auto;}
}

@media only screen and (max-width:569px){
/*img{max-width:100% !important}*/
}